* {
  font-size: 16px;
}

.title {
  background-color: antiquewhite;
  color: hsl(50, 50%, 10%);
  text-align: center;
  font-size: 36px;
}

.list-wrapper {
  background-color: rgb(182, 243, 223);
  text-align: center;
}

.list-wrapper li {
  list-style: none;
}

.list-item {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(48, 48, 194);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.description-title {
  font-size: 24px;
}

.description {
  font-family: monospace;
}

.ingredients-title,
.steps-title {
  font-size: 20px;
  color: brown;
}

.ingredients-list,
.steps-list {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
