* {
  font-size: 16px;
}

body {
  width: 800px;
  margin: 0 auto;
}

.title {
  background-color: antiquewhite;
  color: hsl(50, 50%, 10%);
  text-align: center;
  font-size: 36px;
  padding: 30px;
}

.list-wrapper {
  background-color: rgb(182, 243, 223);
  text-align: center;
  padding: 30px;
}

.list-wrapper li {
  list-style: none;
  margin-bottom: 10px;
  border: 1px solid plum;
}

.list-item {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  text-decoration: none;
  padding: 20px 0px;
  color: rgb(48, 48, 194);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.description-title {
  font-size: 24px;
}

.description {
  font-family: monospace;
}

.ingredients-title,
.steps-title {
  font-size: 20px;
  color: brown;
}

.ingredients-list,
.steps-list {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
